confluent.controlcenter.id=1
confluent.controlcenter.data.dir=/data/control-center
confluent.controlcenter.rest.listeners=http://0.0.0.0:9021
confluent.controlcenter.connect.connect-cluster1.cluster={{cp1_connect1_a_private_ip}}:8083,{{cp1_connect2_a_private_ip}}:8083
confluent.controlcenter.schema.registry.url={{cp1_sr1_a_private_ip}}:8081,{{cp1_sr2_a_private_ip}}:8081
#confluent.controlcenter.ksql.ksql-cluster1.url=http://ksql-1:8088
confluent.controlcenter.internal.topics.partitions=12
confluent.controlcenter.internal.topics.replication=3
confluent.controlcenter.ui.autoupdate.enable=false
confluent.controlcenter.ui.controller.chart.enable=true
confluent.controlcenter.usage.data.collection.enable=false
confluent.controlcenter.command.topic=_confluent-command
confluent.controlcenter.command.topic.replication=3
confluent.metrics.topic=_confluent-metrics
confluent.metrics.topic.partitions=12
confluent.metrics.topic.replication=3
confluent.monitoring.interceptor.topic.replication=3

bootstrap.servers={{cp1_broker1_a_public_ip}}:9090,{{cp1_broker2_a_public_ip}}:9090,{{cp1_broker3_a_public_ip}}:9090
confluent.controlcenter.streams.security.protocol=SASL_PLAINTEXT
confluent.controlcenter.rest.authentication.method=BEARER

confluent.controlcenter.schema.registry.basic.auth.credentials.source=USER_INFO
confluent.controlcenter.schema.registry.basic.auth.user.info=admin:admin-secret

confluent.metadata.bootstrap.server.urls={{cp1_broker1_a_public_ip}}:8090,{{cp1_broker2_a_public_ip}}:8090,{{cp1_broker3_a_public_ip}}:8090
confluent.metadata.basic.auth.user.info=admin:admin-secret

public.key.path=/var/ssl/private/public.pem

confluent.controlcenter.prometheus.enable=true
confluent.controlcenter.prometheus.url={{cp1_c3_a_private_ip}}:9090
confluent.controlcenter.prometheus.rules.file=/engn/confluent-control-center-next-gen-2.2.0/etc/confluent-control-center/trigger_rules-generated.yml
confluent.controlcenter.alertmanager.url={{cp1_c3_a_private_ip}}:9093
confluent.controlcenter.alertmanager.config.file=/engn/confluent-control-center-next-gen-2.2.0/etc/confluent-control-center/alertmanager-generated.yml
