# 변수 파일
*.tfvars

# 키
test-key.pem
common/ssl/*

# ansible-inventory
ansible-ubuntu/inventory.ini

# 생성 파일
**/.terraform/
**/.terraform.*
**/terraform.tfstate*

## seoul/ansible

# Secret vars
seoul/ansible/group_vars/*
seoul/ansible/host_vars/*

# SSH keys or credentials
seoul/ansible/*.pem
seoul/ansible/*.key

# Logs and temporary files
seoul/ansible/*.log
seoul/ansible/*.retry
seoul/ansible/*.tmp

# Ansible cache
seoul/ansible/__pycache__/
seoul/ansible/*.pyc
seoul/ansible/*.pyo
seoul/ansible/*.db

# VSCode settings
seoul/ansible/.vscode/
seoul/ansible/.DS_Store/

# Java Application
seoul/ansible/app/*

# vars